@import "tailwindcss";

:root {
  --background: #F7E7D7;
  --foreground: #2C3845; 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inder);
  --font-hand: var(--font-gochi);
}

@theme {
  --color-dark-blue: #2C3845;
  --color-blue: #5D777A;
  --color-light-blue: #BFCFCC;
  --color-white: #F7E7D7;
  --color-orange: #CD754D;
  --color-brown: #873B21;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
